.About_Container {
  padding: 2rem;
  padding-left: 10%;
  padding-right: 10%;
  @media screen and (max-width: 919px) {
    font-size: 20px;
    padding-left: 2rem;
    padding-right: rem;
    padding: 0rem;
  }
}
.About_Container .AboutMe_Container {
  flex-direction: column;
  width: 100%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  padding: 2rem;
}
.About_Container .AboutMe {
  font-size: 50px;
  font-weight: 900;
}
.AboutMe_Container .Paragraph {
  font-weight: 500;
  font-size: 24px;
  @media screen and (max-width: 614px) {
    font-size: 20px;
  }
}
.About_Container .Cards_Container {
  width: 100%;
}
