.wrapper {
  display: flex;
  align-items: center;
  padding: var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-md);
  transition: background-color 0.2s ease;
  margin-bottom: var(--mantine-spacing-md);
  
  @mixin hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.icon {
  margin-right: var(--mantine-spacing-md);
  background-color: transparent;
  color: rgba(255, 255, 255, 0.9);
}

.title {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.5px;
}

.description {
  color: rgba(255, 255, 255, 0.95);
  font-weight: 500;
  margin-top: 2px;
}
